*{
margin:0px;
padding:0px;
}
    // .summa{
    //     padding:10%;
    // }

.content{
  font-size: large;
   margin-top:15%;
   h1{
    display: flex;
    justify-content: center;
    padding: 3%;
    color:black
   }
   h2{
    display: flex;
    justify-content: center;
    color: #f79e1b;
   }
}